<a href="https://colab.research.google.com/github/wjyrskyy14-ctrl/python-basic-For-Data-Science/blob/main/UBER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('ncr_ride_bookings.csv')

# DATA UNDERSTANDING

In [3]:
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

In [4]:
df = df.set_index('Date')

In [5]:
df.head()

,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
Date,,,,,,,,,,,,,,,,,,,,
2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,NaN,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,NaN,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,NaN,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,NaN,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6162 entries, 2024-03-23 to 2024-12-01
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Time                               6162 non-null   object
 1   Booking ID                         6162 non-null   object
 2   Booking Status                     6162 non-null   object
 3   Customer ID                        6162 non-null   object
 4   Vehicle Type                       6162 non-null   object
 5   Pickup Location                    6162 non-null   object
 6   Drop Location                      6162 non-null   object
 7   Avg VTAT                           5747 non-null   float64
 8   Avg CTAT                           4226 non-null   float64
 9   Cancelled Rides by Customer        440 non-null    float64
 10  Reason for cancelling by Customer  440 non-null    object
 11  Cancelled Rides by Driver          1081 non-null   float64
 12  Driver Cancellation Reason         1081 non-null   object
 13  Incomplete Rides                   390 non-null    float64
 14  Incomplete Rides Reason            390 non-null    object
 15  Booking Value                      4225 non-null   float64
 16  Ride Distance                      4225 non-null   float64
 17  Driver Ratings                     3835 non-null   float64
 18  Customer Rating                    3835 non-null   float64
 19  Payment Method                     4225 non-null   object
dtypes: float64(9), object(11)
memory usage: 1.1+ MB

In [17]:
df.isna().sum()

Time                                    0
Booking ID                              0
Booking Status                          0
Customer ID                             0
Vehicle Type                            0
Pickup Location                         0
Drop Location                           0
Avg VTAT                              415
Avg CTAT                             1936
Cancelled Rides by Customer          5722
Reason for cancelling by Customer    5722
Cancelled Rides by Driver            5081
Driver Cancellation Reason           5081
Incomplete Rides                     5772
Incomplete Rides Reason              5772
Booking Value                        1937
Ride Distance                        1937
Driver Ratings                       2327
Customer Rating                      2327
Payment Method                       1937
dtype: int64

In [18]:
df.describe()

,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating
count,5747.000000,4226.000000,440.0,1081.0,390.0,4225.000000,4225.000000,3835.000000,3835.000000
mean,8.508509,29.109513,1.0,1.0,1.0,507.529467,24.900935,4.229596,4.404433
std,3.797646,8.939941,0.0,0.0,0.0,396.104500,14.125466,0.432089,0.437116
min,2.000000,10.000000,1.0,1.0,1.0,50.000000,1.240000,3.000000,3.000000
25%,5.400000,21.400000,1.0,1.0,1.0,236.000000,12.670000,4.100000,4.200000
50%,8.300000,28.700000,1.0,1.0,1.0,414.000000,24.130000,4.300000,4.500000
75%,11.300000,36.800000,1.0,1.0,1.0,689.000000,37.210000,4.500000,4.800000
max,20.000000,45.000000,1.0,1.0,1.0,4220.000000,50.000000,5.000000,5.000000

#DATA PREPARATION

In [28]:
# mengubah yg salah tipe data
df['Time']= pd.to_datetime(df['Time'])
df['Incomplete Rides Reason'] = df.astype(float)
df['Cancelled Rides by Driver']

In [27]:
# mengisi nilai na
df['Avg CTAT'] = df['Avg CTAT'].fillna(df['Avg CTAT'].mean())
df['Avg VTAT'] = df['Avg VTAT'].fillna(df['Avg VTAT'].mean())